/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.12.2019, 22:28:22
    Author     : roots
*/

#header{
    text-align: center;
    margin-bottom: 32px;

}
p{
    margin-bottom: 12px;
}
h1,h2,h3{
    font-weight: 400;
}
h1{
    font-size: 36px;
    margin-bottom: 0;
}
h2{
    font-size: 32px;
    border-bottom-width: 1px;
    border-bottom-color: darkgrey;
    margin-bottom: 8px;
}
h3{
    font-size: 20px;
    margin-bottom: 0;
}

#footer{
    margin-top: 64px;
    text-align: center;
}
